.ability-list {
  ul {
    list-style: none;
  }
}
.feats-list {
  ul {
    list-style: none;
  }
}
.money-list {
  ul {
    list-style: none;
  }
}
.saving-throws-list {
  ul {
    list-style: none;
  }
}
.skill-score {
  width: 2em;
}
.saving-throws-list {
  ul {
    list-style: none;
  }
}