.emoji-container {
    .labelled-image {
        display: flex;
        align-items: center;
    }
    .image-container {
        width: 128px;
        height: 128px;
        img {  
            width: 100%;  
            height: 100%;  
            object-fit: contain;
        }  
    }
    .image-label {
        padding-left: 2em;
    }
}