$body-content-margin: 30px;
$transparent-background: transparentize($color: black, $amount: 0.2);

.current {
  color: royalblue;
}

html {
  min-height: 100%;
  font-family: "Trebuchet MS", sans-serif;
}

a {
  color: forestgreen;
  &:hover {
    color: maroon;
  }
}

nav {
  background-color: $transparent-background;

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

body {
  max-width: 620px;
  margin: 0 auto;
  padding: 1em;
}






.navigation{
  list-style: none;
  float: left;
  li {
    display: inline-block;
    margin: 0.5em;
    a {
      text-transform: uppercase;
    }
  }
}

.body-content {
  padding: 1em;
  margin: $body-content-margin;
}

footer {
  background-color: $transparent-background;
  border-radius: 0.5em;
  height: 50px;
  padding: 10px;
  margin: $body-content-margin;
  li {
    display: inline-block;
    margin-left: 30px;
    &:first-child {
      margin-left: 0px;
    }
  }
  a {
    color: whitesmoke;
    text-decoration: none;
    font-family: "Trebuchet MS", sans-serif;
    &:hover {
      color: orange;
    }
  }
}