$list-padding: 0.4em;

html {
  .current {
    color: black;
  }
  min-height: 100%;
  font-family: sans-serif;
  min-width: 320px;
  body {
    max-width: 620px;
    margin: 0 auto;
    padding: 1em;
    a {
      color: steelblue;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    nav {
      ul {
        padding: 0em;
        li {
          display: inline-block;
        }
      }
    }
    hr {
      background-color:black;
      height: 1px;
    }
  }
  .job-position-list {
    ul {
      list-style: none;
    }
  }
  .job-position-list {
      list-style: none;
  }
  .post-list {
    ul {
      list-style: none;
      padding: 0em;
    }
  }
  .resume-toc {
    list-style: none;
    li {
      display: inline;
      padding-inline-start: 0.3em;
      padding-inline-end: 0.3em;
    }
  }
  .courses-list {
    list-style: none;
    column-count: 3;
    column-width: auto;
    li {
      padding-top: 0.3em;
      padding-bottom: 0.3em;
    }
  }
  .education-list {
    list-style: none;
    li {
      padding-top: 0.3em;
      padding-bottom: 0.3em;
    }
  }
  .tool-list {
    list-style: none;
    column-count: 3;
    column-width: auto;
  }
  .award-list {
    list-style: none;
  }
  .recipe-list {
    ul {
      list-style: none;
      column-count: 5;
      column-width: 150px;
    }
    li {
      padding: $list-padding;
    }
  }
  .ingredient-list {
    list-style: none;
    list-style-type: none;
    li {
      padding: $list-padding;
    }
  }
  .direction-list {
    list-style: none;
    li {
      padding: $list-padding
    }
  }
  .social {
    ul {
      list-style: none;
    }
  }
  .affiliates {
    ul {
      list-style: none;
    }
  }
  .youtube-container {
    overflow: hidden;
    position: relative;
    padding-top: 56.25%;

    iframe {
      border: 0;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}