$site-background-color: #323232;
$body-content-margin: 30px;

.current {
  color: orange;
  background-color: black;
}

html {
  min-height: 100%;
  font-family: "Trebuchet MS", sans-serif;
}

nav {
  background-color: transparent;

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.navigation{
  color: forestgreen;
  list-style: none;
  float: left;
  li {
    display: inline-block;
    margin: 20px;
    a {
      color: forestgreen;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        color: slategray;
      }
    }
  }
}

body {
  background-color: transparent;
  li {
    a {
      color: forestgreen;
      text-decoration: none;
    }
  }
  a {
    color: forestgreen;
    text-decoration: none;
  }
}

.body-content {
  padding: 1em;
  margin: $body-content-margin;
}

footer {
  background-color: transparentize($color: black, $amount: 0.8);
  height: 50px;
  padding: 10px;
  margin: $body-content-margin;
  li {
    display: inline-block;
    margin-left: 30px;
    &:first-child {
      margin-left: 0px;
    }
  }
  a {
    color: whitesmoke;
    text-decoration: none;
    font-family: "Trebuchet MS", sans-serif;
    &:hover {
      color: orange;
    }
  }
}