.current {
  color: orange;
  background-color: black;
}

nav {
  background-color: slategray;
}

html {
  position: relative;
  min-height: 100%;
  padding: 0 0 300px;
}

footer {
  background-color: slategray;
  position: fixed;
  bottom: 0;
  height: 100px;
  width: max-content;
  margin-top: 20px;
}